@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Brand Colors */
  --primary: #F54284;      /* Pink */
  --secondary: #39D5E8;    /* Aqua Blue */

  --light: #FFF8FC;        /* Soft pink background */
  --gray: #6b7280;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
}

section {
  padding: 5rem 0;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}

button {
  cursor: pointer;
}