@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary: #0b3c5d;
  --secondary: #d4af37;

  --light: #f8fafc;
  --gray: #6b7280;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
}

section {
  padding: 5rem 0;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}

button {
  cursor: pointer;
}